@model RotisserieDraft.ViewModels.DraftViewModel

@{
    ViewBag.Title = Model.Name;
}

<script type="text/ecmascript" language="ecmascript">
    function togglePickList(memberId) {
        $('#DraftMemberPicks-' + memberId).toggle(200);
    }
</script>

<h2>@Model.Name</h2>

@foreach (var p in Model.Picks)
{
    <div class="draftmember-box-@p.PickTime.ToString().ToLower()" id="DraftMemberBox-@p.MemberId">
        <p class="draftmember-name">@p.MemberName</p>
    </div>
    if (p.PickTime == RotisserieDraft.ViewModels.PickTime.History)
    {
        <div class="draftmember-box-history" id="PickBox-@p.MemberId">
            <p class="pick-cardname">@p.CardName</p>
        </div>
    }
    <div style="clear: both"></div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<fieldset>
    <legend>Information</legend>

    <table class="draftinformation">
        <tr>
            <td>
                <div class="display-label">Current amount of picks</div>
                <div class="display-field">@Model.CurrentNumberOfPicks</div>
            </td>
            <td>
                <div class="display-label">Maximum amount of picks</div>
                <div class="display-field">@Model.MaximumNumberOfPicks</div>
            </td>
            <td>
                <div class="display-label">Number of players in draft</div>
                <div class="display-field">@Model.Members.Count</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Creator</div>
                <div class="display-field">@Model.Owner</div>
            </td>
            <td>
                <div class="display-label">Created</div>
                <div class="display-field">@String.Format("{0:g}", Model.CreationDate)</div>
            </td>
        </tr>
    </table>
</fieldset>