@model RotisserieDraft.ViewModels.DraftViewModel

@{
    ViewBag.Title = Model.Name;
}

<script language="ecmascript">
    function togglePickList(memberId) {
        $('#DraftMemberPicks-' + memberId).toggle(200);
    }
</script>

<h2>@Model.Name</h2>

<fieldset>
    <legend>The Draft</legend> 
    @foreach (var m in Model.Members)
    {
        <div class="draftmember-box-@m.DraftPosition.Equals(Model.CurrentPickPosition)" id="DraftMemberBox-@m.Id" onclick="togglePickList(@m.Id)">
            <p class="draftmember-name">@m.DisplayName</p>
            <ul class="draftmember-lastpicks" id="DraftMemberPicks-@m.Id">
            @foreach (var pick in m.LastThreePicks)
            {
                <li class="draftmember-lastpicks">@pick</li>
            }
            </ul>
        </div>
        if (m.DraftPosition.Equals(Model.CurrentWheelPosition))
        {
            <hr class="draft-wheelline"/>
        }
    }
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<fieldset>
    <legend>Information</legend>

    <table class="draftinformation">
        <tr>
            <td>
                <div class="display-label">Current amount of picks</div>
                <div class="display-field">@Model.CurrentWheelPosition</div>
            </td>
            <td>
                <div class="display-label">Maximum amount of picks</div>
                <div class="display-field">@Model.MaximumNumberOfPicks</div>
            </td>
            <td>
                <div class="display-label">Number of players in draft</div>
                <div class="display-field">@Model.Members.Count</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Creator</div>
                <div class="display-field">@Model.Owner</div>
            </td>
            <td>
                <div class="display-label">Created</div>
                <div class="display-field">@String.Format("{0:g}", Model.CreationDate)</div>
            </td>
        </tr>
    </table>
</fieldset>