@model RotisserieDraft.ViewModels.DraftViewModel

@{
    ViewBag.Title = Model.Name;
}
<script type="text/ecmascript" language="ecmascript">

    function togglePickList(memberId) {
        $('#DraftMemberPicks-' + memberId).toggle(200);
    }

    function testMethod(result) {

        var jsonResult = eval('(' + result.response + ')');

        if (jsonResult.pickresult) {

            var dvm = jsonResult.updatedDvm;

            $('.draftmember-box-futurepick').remove();

            for (var i = 0; i < dvm.FuturePicks.length; i++) {
                $('#draftheader').after('<div class="draftmember-box-futurepick" id="DraftMemberFuturePickBox">' + dvm.FuturePicks[i] + '</div>');
            }
        }
        else {
            alert('failure! ' + jsonResult.reason);
        }
    }

</script>

<h2 id="draftheader">@Model.Name</h2>

@foreach (var fp in Model.FuturePicks)
{
    <div class="draftmember-box-futurepick" id="DraftMemberFuturePickBox">@fp</div>
}

@using (Ajax.BeginForm("Pick", "Draft", new AjaxOptions() { OnComplete = "testMethod", HttpMethod = "Post" } ))
{
    @Html.Hidden("draftId", Model.Id);
    @Html.TextBox("cardName")
    <input type="submit" id="pickcard" value="Pick card!" />    
}

@foreach (var p in Model.Picks)
{
    <div class="draftmember-box-@p.PickTime.ToString().ToLower()" id="DraftMemberBox-@p.MemberId">
        <p class="draftmember-name">@p.MemberName</p>
    </div>
    if (p.PickTime == RotisserieDraft.ViewModels.PickTime.History)
    {
        <div class="draftmember-box-history" id="PickBox-@p.MemberId">
            <p class="pick-cardname">@p.CardName</p>
        </div>
    }
    <div style="clear: both"></div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<fieldset>
    <legend>Information</legend>

    <table class="draftinformation">
        <tr>
            <td>
                <div class="display-label">Current amount of picks</div>
                <div class="display-field">@Model.CurrentNumberOfPicks</div>
            </td>
            <td>
                <div class="display-label">Maximum amount of picks</div>
                <div class="display-field">@Model.MaximumNumberOfPicks</div>
            </td>
            <td>
                <div class="display-label">Number of players in draft</div>
                <div class="display-field">@Model.Members.Count</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Creator</div>
                <div class="display-field">@Model.Owner</div>
            </td>
            <td>
                <div class="display-label">Created</div>
                <div class="display-field">@String.Format("{0:g}", Model.CreationDate)</div>
            </td>
        </tr>
    </table>
</fieldset>